@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

textarea,
input,
select {
  font-family: inherit;
}

.mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
